.Hero {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/background.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  .invitation-label {
    font-size: 1.25rem;
    margin-bottom: 60px;
    border: 2px solid #fff;
    width: fit-content;
    padding: 4px 16px;
    border-radius: 50px;
    margin-top: 50px;
  }
  .name-label {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: -150px;
  }
  .graduation-label {
    font-size: 8rem;
  }
  .title-group {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &.mobile {
    .invitation-label {
      font-size: 1rem;
      margin-bottom: 30px;
      margin-top: 20px;
    }
    .name-label {
      font-size: 1.25rem;
      margin-bottom: -70px;
    }
    .graduation-label {
      font-size: 4.5rem;

    }
  }
}
