.ParkingTip {
  height: 100vh;
  .ant-row {
    width: 100%;
    height: 100%;
  }
  .info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
    gap: 24px;
    &.title {
      align-items: center;
      font-size: 3rem;
    }
    .parking-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .place-name {
        font-size: 1.5rem;
        font-weight: bold;
      }
      .address-line {
        font-size: 1.125rem;
        padding-left: 28px;
        text-decoration: underline;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .place-name-group {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
    .icon {
      font-size: 1.5rem;
    }
  }

  &.mobile {
    .ant-row {
      row-gap: 0 !important;
      width: 102%;
    }
    .title {
      font-size: 2rem;
    }
    .content {
      margin-top: -100px;
      padding: 0 32px;
    }
    .parking-info {
      text-align: left;
      .place-name {
        font-size: 1.4rem;
      }
    }
  }
}
