.Thanks {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/background.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  .name-label {
    font-size: 1rem;
    font-weight: 600;
    margin-top: -80px;
  }
  .graduation-label {
    font-size: 8rem;
    margin-top: -100px;
  }
  .title-group {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .credit {
    bottom: 10px;
    font-size: 0.75rem;
    position: fixed;
    color: var(--main-500);
  }
}
