.Thanks {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/background.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  .name-label {
    font-size: 1rem;
    font-weight: 600;
  }
  .graduation-label {
    line-height: 1.5;
    font-size: 8rem;
  }
  .title-group {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-40px); 
  }

  &.mobile {
    .name-label {
      font-size: 1rem;
      margin-top: 20px;
      padding: 0 20px;
    }
    .graduation-label {
      font-size: 6rem;
      margin-top: 0;
    }
  }
}
