.Contact {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  .contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
    text-align: justify;
  }
  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px 20px;
    border-radius: 12px;
    border: 2px solid var(--main-500);
    color: #000;
    .fb {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &.mobile {
    flex-direction: column;
    .contact-content {
      width: 90%;
      font-size: 14px;
    }
    .contact-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
