.Contact {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/background_contact.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  gap: 12px;
  .contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding-left: 5%;
    width: 45%;
    text-align: justify;
  }
  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px 20px;
    border-radius: 12px;
    background-color: var(--main-800);
    color: #fff;
    .fb {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
