.Information {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/background_info.jpg");
  background-size: cover;
  background-position: center center;
  color: #fff;
  display: flex;
  .ant-row {
    width: 100%;
    height: 100%;
  }
  .info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    gap: 16px;
    .location-info {
      .place-name {
        font-size: 1.25rem;
      }
    }
    .datetime-info {
      font-size: 1.25rem;
    }
  }
  &.mobile {
    background-image: none;
    .ant-row {
      row-gap: 0 !important;
    }
    .info-box {
      width: 100%;
      background-image: url("../../assets/background.jpg");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .location-info {
        .place-name {
          font-size: 0.75rem;
        }
        .address-line {
          font-size: 0.75rem;
        }
      }
      .datetime-info {
        font-size: 0.75rem;
      }
    }
  }
}
