.Information {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/background_info.jpg");
  background-size: cover;
  background-position: center center;
  color: #fff;
  display: flex;
  .ant-row {
    width: 100%;
    height: 100%;
  }
  .info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    gap: 16px;
    .location-info {
      .place-name {
        font-size: 1.25rem;
      }
    }
    .datetime-info {
      font-size: 1.25rem;
    }
  }
}
