@font-face {
  font-family: "Neue Machina";
  src: url("./assets/fonts/NeueMachina-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Horizon";
  src: url("./assets/fonts/Horizon.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Burgues Script";
  src: url("./assets/fonts/Burgues Script.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-primary {
  font-family: var(--font-primary);
}

.font-secondary {
  font-family: var(--font-secondary);
}

.font-tertiary {
  font-family: var(--font-tertiary);
}

$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1536px;
$breakpoint-xxxl: 1920px;

:root {
  --main-50: #e6f0ff;
  --main-100: #b3d1ff;
  --main-200: #80b1ff;
  --main-300: #4d92ff;
  --main-400: #1a72ff;
  --main-500: #004aad;
  --main-600: #0030a8;
  --main-700: #002080;
  --main-800: #001066;
  --main-900: #000033;

  --muted: #64748b;

  --grey-200: #f2f2f2;
  --grey-300: #d9dad9;
  --grey-400: #b3b5b4;
  --grey-500: #818482;
  --grey-600: #4f5250;
  --grey-700: #1d211e;
  --grey-800: #040905;

  --danger: #f44336;
  --warning: #ff9800;
  --success: #4caf50;
  --info: #2196f3;

  --font-primary: "Neue Machina", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;

  --font-secondary: "Horizon", "Helvetica Neue", Arial, sans-serif;

  --font-tertiary: "Burgues Script", cursive;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.asol-card {
  border-radius: 0.75rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;

  .ant-card-body {
    padding: 1.25rem;

    .ant-statistic-content-value {
      font-weight: 700;
    }
  }

  .card-title {
    font-size: 20px;
    font-weight: 600;
  }

  &.mobile {
    .ant-card-body {
      padding: 0.7rem;
    }
  }
}

.loader {
  display: block;
  --height-of-loader: 4px;
  --loader-color: #;
  width: 100%;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  background: #5c5cff;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
